<div class="main">
<table class="tiposiva">
    <thead>
        <caption>Tipos de IVA</caption>
        <tr class="grid-header">
            <th>
                Id.
            </th>
            <th>
                Descripcion
            </th>
            <th>
                % Tipo IVA
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody dsFor="tiposiva as tipo">
        <tr class="even-row">
            <td>{{tipo.idtipo_iva}}</td>
            <td>{{tipo.descripcion_tipo_iva}}</td>
            <td>{{tipo.tipo_iva}}</td>
            <td><botonera-tiposiva /></td>
        </tr>
    </tbody>
</table>
</div>
