<!DOCTYPE html>
<html>
    <head>
        <title>Mantenimiento - Tipos de IVA</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="Views/css/estilos.css" type="text/css" media="screen" />
    </head>

    <body>

        <app-header />

        <div class="contenedor">
            <div class="contenedor">
                <boton-nuevo />
            </div>

            <grid-tiposiva />
        </div>

        <app-footer />
    </body>

</html>
