html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
    /** font-family: 'Quicksand', sans-serif; */
    display: grid;
    /** Tenemos unas medidas muy extrañas */
    grid-template-rows: 0.8fr 4.8fr 0.6fr;

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4,h5,h6,p {
    font-size: 1.6rem;
}

td {
    text-align: center;
}

/** Contenedor */

.contenedor {
    margin: 0 auto;
}

/** Utilidades */

.flex {
    display: flex;

}

.grid {
    display: grid;
}

.text-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-center a {
    display: block;
    text-align: center;
}

.center {
    margin: 0 auto;
}

/** General */

.contenedor, main {
    width: 1200px;
}

table {
    max-width: 1200px;
    overflow-y: scroll;
}


/** Forms */
.form {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
}

.form fieldset {
    margin: 0 auto;
}


.form input {
    margin: 5px 0 5px 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;

}

.form button {
    margin: 10px 0 10px 10px;
}

.campo {
    display: flex;
    align-items: center;
}

.campo label {
    flex-basis: 10rem;
}

.campo input {
    flex: 1;
}
/** Componentes */

/** Cabeceras de grid */

.grid-header {
    background-color: #3C6E71;
    color: #D9D9D9;
    line-height: 1.6em;
}

.odd-row {
    background-color: #FFFFFF;
    line-height: 1.6em;
}

.even-row {
    background-color: #D9D9D9;
    line-height: 1.6em;
}


/** AppHeader */

.header {
    background-color: #284b63;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    height: 15rem;
    margin-bottom: 2rem;
}


.footer {
    background-color: #284b63;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.footer p {
    padding-top: 2.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

div h1 {
    padding: 2rem;
}

/** Botones */

.boton-nuevo {
        box-shadow:inset 0px 1px 0px 0px #9acc85;
        background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
        background-color:#74ad5a;
        border:1px solid #3b6e22;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:1.6rem;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
}

.boton-nuevo:hover {
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        background-color:#68a54b;
}

.boton-nuevo:active {
        position:relative;
        top:1px;
}


.boton-editar {
        box-shadow:inset 0px 1px 0px 0px #54a3f7;
        background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
        background-color:#007dc1;
        border-radius:3px;
        border:1px solid #124d77;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:1.2rem;
        font-weight:bold;
        padding:6px 24px;
        margin: 0.5rem 1rem;
        text-decoration:none;
        text-shadow:0px 1px 0px #154682;
}

.boton-editar:hover {
        background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
        background-color:#0061a7;
}

.boton-editar:active {
        position:relative;
        top:1px;
}


.boton-borrar {
        box-shadow:inset 0px 1px 0px 0px #cf866c;
        background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
        background-color:#d0451b;
        border-radius:3px;
        border:1px solid #942911;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:1.2rem;
        font-weight:bold;
        padding:6px 24px;
        margin: 0.5rem 1rem;
        text-decoration:none;
        text-shadow:0px 1px 0px #854629;
}
.boton-borrar:hover {
        background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
        background-color:#bc3315;
}
.boton-borrar:active {
        position:relative;
        top:1px;
}


/** Tipos Iva */

.tipos-iva-edit {
    margin: 0 auto;
    width: 50rem;
    height: 18rem;
}

.tipos-iva-new {
    margin: 0 auto;
    width: 50rem;
    height: 16rem;
}

div h2 {
    color: #284B63;
}

.tiposiva {
    font-size: 1.6rem;
    margin: 0 auto;
    margin-top: 2rem;
    /** border: black solid 2px; */
    border-collapse: collapse;
}

caption {
    color: #D9D9D9;
    border: #353535 solid 2px;
    background-color: #284B63;
    height: 2em;
    padding-top: 0.3em;
    font-size: 2.2rem;
    /* border-collapse: collapse; */
}

.tiposiva th {
    width: 300px;
}

.botonera {
    display: inline;
}
